@font-face{
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('assests/Fonts/bahnschrift-font/BAHNSCHRIFT 1.woff') format('woff');
}



html{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body{
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(#132d3d,#4F160B);
}

.center{
    height: 60vh;
}

.top{
    height: 20vh;
}

.bottom{
    height:20vh;
    justify-content: flex-end;
}

.bgimage{
    background-image:url("assests/SVG-Icons-master/SVG-Icons-master/New Text Document.svg");
    width: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#loginform{
    margin-top: 20vh;
}

input{
    border:0;
    background: transparent;
    color: white;
    margin-bottom: 0px;
    font-family: 'Bahnschrift Regular';
    font-size: 18px;
    border-bottom: none;
    border-color: transparent;
    border-style: none;
    /* border-bottom: 8px solid white; */
    border-radius: 8px;
    outline: none;
    padding-left: 6px;
}

hr{
    margin-top: 0px;
    border-width: 8px;
    border-radius: 6px;
    color: white;
    border-color: white;
}

.sign-in-btn{
    font-family: 'Bahnschrift Regular';
    font-size: 14px;
}

.radius{
    border-radius: 20px;
}


@media screen and (min-width:400px){
    input{
        width: 250px;
        font-size: 24px;
    }

    .sign-in-btn{
        font-size: 16px;
    }
}