body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 1300px;
  background-color: #111d27;
  z-index: -10;
}

section {
  width: 100%;
  height: 4800px;
  background-color: #111d27;
}

.about {
  height: 1000px;
}

#header_logo {
  width: 10%;
}

#header_circle {
  z-index: 0;
  width: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.header_contact {
  float: right;
  color: #fff;
  font-size: 1.8rem;
}

.header_text {
  color: #fff;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  font-family: ;
  font-size: 9rem;
  z-index: 1;
}

.header_text2 {
  color: #fff;
  left: 2%;
  top: 90%;
  width: 40%;
  font-size: 1.8rem;
}

.text_container {
  width: 30%;
}

.text_style_1 {
  color: #fff;
  font-size: 1.5rem;
}

.circle_group {
  background-color: ;
}

.asd {
  background-color: aquamarine;
}

.button_style {
  border-radius: 2rem !important;
  width: 10rem;
  height: 3rem;
  background: linear-gradient(
    90deg,
    #41bdf2 -15.14%,
    #13ffbe 120.91%
  ) !important;
  color: #000;
  font-size: 18px;
}

.card_style {
  border-radius: ;
  height: 500px;
  width: 80%;
}

.cardA {
  background: linear-gradient(
    30.35deg,
    #d37200 1.89%,
    rgba(255, 138, 0, 0) 96.71%
  );
}

.cardB {
  background: linear-gradient(
    30.59deg,
    #0e5ee6 1.66%,
    rgba(0, 94, 255, 0) 96.72%
  );
}

.cardC {
  background: linear-gradient(
    30.66deg,
    rgba(235, 0, 255, 0.99) 1.53%,
    rgba(235, 0, 255, 0) 96.91%
  );
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #1a252f;
}

.footer_text {
  color: #fff;
  margin: auto;
}

.icons {
  z-index: 20;
}

.footer_logo {
  width: 10%;
}
